@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdc3c7;
}

.main-box {
    padding: 1rem;
    background-color: #9dd2ea;
    border-radius: 1rem;
    width: 50%;
}

.score-box {
    background-color: #f0fd93;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

#score {
    font-size: 30px;
}

.question-box {
    background-color: #9da0ea;
    padding: 1rem;
    color: white;
    font-size: 100px;
    border-radius: 5px;
    margin: .5rem 0;
    text-align: center;
}

.suggestion-box {
    background-color: #b480d9;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin: .5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
}

.choice-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 0;
    margin: .5rem 0;
}

.box {
    padding: 4rem;
    font-size: 30px;
    background-color: white;
    border-radius: 1rem;
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 5px 0 0 #b480d9;
}

.box:hover {
    background-color: #b480d9;
    color: white;
    box-shadow: 0 5px 0 0 white;
}

#box-1 {
    margin-top: 1rem;
}

#box-2 {
    margin-top: 1rem;
}

#box-3 {
    margin-top: 1rem;
}

#box-4 {
    margin-top: 1rem;
}

.control-box {
    margin-top: .5rem;
    background-color: #cee9f5;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 5px 0 0 #f0fd93;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.control-box:hover {
    background-color: #f0fd93;
    box-shadow: 0 5px 0 0 #cee9f5;
}
